<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/4.0/examples/blog/" rel="canonical">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet">
<!--    <link href="blog.css" rel="stylesheet">-->
<!--    <link href="/static/css/bootstrap.min.css" rel="stylesheet">-->
    <title>Новый твиттер</title>
</head>
<body>

<div class="container">

    <header class="blog-header py-3">
        <div class="row flex-nowrap justify-content-between align-items-center">
            <div class="col-4 pt-1" th:if="${ #authorization.expression('isAuthenticated()') }">
                <a class="text-muted" href="/logout">Выйти</a>
            </div>
            <div class="col-4 pt-1" th:if="${ #authorization.expression('isAnonymous()') }">
                <a class="btn btn-sm btn-outline-secondary" href="/login">Войти</a>
            </div>
            <div class="col text-center" th:if="${ #authorization.expression('isAuthenticated()') }">
                <a class="btn btn-sm btn-outline-secondary" href="/new">Написать новый пост</a>
            </div>
            <div class="col text-center">
                <a class="btn btn-sm btn-outline-secondary" href="/feed">Вернуться к ленте</a>
            </div>
            <div class="col d-flex justify-content-end align-items-center">
                <a class="text-muted" href="/find">
                    <svg class="mx-3" fill="none" height="20" stroke="currentColor" stroke-linecap="round"
                         stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" width="20"
                         xmlns="http://www.w3.org/2000/svg">
                        <circle cx="10.5" cy="10.5" r="7.5"></circle>
                        <line x1="21" x2="15.8" y1="21" y2="15.8"></line>
                    </svg>
                </a>
                <div class="pr-3"
                     th:if="${ #authorization.expression('isAuthenticated()') and #strings.contains(#authentication.principal.authorities,'ADMIN')}">
                    <a class="btn btn-sm btn-outline-secondary" th:href="@{/admin}">Админка</a>
                </div>
            </div>
        </div>
    </header>

    <div class="blog-main">
        <h3 class="font-italic border-bottom"></h3>
    </div>

    <div class="col">
        <div class="flex-row mb-4 box-shadow h-md-250">
            <div class="card-body d-flex flex-column align-items-start">
                <h2 class="mb-2 text-dark" th:text="'Страница пользователя: ' + ${user.getName()}"></h2>
                <h3 class="mb-2 text-dark" th:text="'Дата последнего входа на сайт: ' + ${user.getLastLogin()}"></h3>
                <h3 class="mb-2 text-dark" th:text="'Дата регистрации: ' + ${user.getDate()}"></h3>
                <h6 class="mb-2 text-dark" th:text="'Количество постов: ' + ${posts.size()}"></h6>
                <h6 class="mb-2 text-dark" th:text="'Количество написанных комментариев: ' + ${comments.size()}"></h6>
            </div>
        </div>
    </div>

    <div class="blog-main">
        <h3 class="pb-3 mb-4 mt-4 font-bold border-bottom">Опубликованные посты</h3>
    </div>

    <div class="container">
        <div class="row card  mb-4" th:each="post: ${posts}">
            <div class="col card-body">
                <h3 class="mb-0">
                    <a th:href="${'/feed/'+post.getId()}" th:text="${post.getSubject()}"> </a>
                </h3>

                <div class="mb-1 text-muted" th:text="${post.getDate()}"></div>
                <h5 class="mb-0 text-dark" th:text="${post.getText()}"></h5>
            </div>
        </div>
    </div>

    <br>

    <div class="blog-main">
        <h3 class="pb-3 mb-4 mt-4 font-bold border-bottom">Опубликованные комментарии</h3>
    </div>

    <div class="row card  mb-4" th:each="comment: ${comments}">
        <div class="col card-body">
            <h3 class="d-inline-block mb-2 text-primary">
                <a th:href="${'/feed/'+comment.getPost().getId()}"
                   th:text="'Тема поста: ' + ${comment.getPost().getSubject()}"></a>
            </h3>
            <div class="mb-1 text-muted" th:text="${comment.getDate()}"></div>
            <h5 class="mb-0 text-dark" th:text="${comment.getText()}"></h5>
        </div>
    </div>

</div>

<footer th:insert="blocks/footer :: footer"></footer>

</body>
</html>